<md-card class='info-card'>
    <md-card-header>
        <md-card-title>Vitor Silva Lima</md-card-title>
        <md-card-subtitle>Full Stack Developer</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>
        I have been an Angular lover since AngularJS. Now that Angular is a hype, I love it even
        more due to its awesome new features such as typescript, decorators, dependency injection and so on.
        I have developed some projects in both AngularJS and Angular 2+ framework versions.
        I currently work for Red Hat Brazil as a middleware consultant however I'm looking for new challenges
        in companies that use Node and Angular as their platform.
      </p>
      <p>
        I hope you like the work I have done for this challenge. Please, give me feedback. I would love to hear
        from you.
      </p>
    </md-card-content>
    <md-card-actions align="start|end">
      <a md-raised-button target="_blank" href="https://github.com/vitorsilvalima" color="primary">GitHub</a>
      <a md-raised-button target="_blank" href="https://www.linkedin.com/in/vitor-silva-lima-233849a9/" color="primary">LinkedIn</a>
    </md-card-actions>
</md-card>
