.info-card{
  margin-top: 14px;
  margin-bottom: 14px;

  md-card-title{
    font-size: 2em;
  }

  md-card-content{
    font-size: 1em;
  }

  th{
    text-align: left;
  }

  md-card-actions{
    text-align: right;
  }
}
