/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/_theming.scss';

body, html {
  margin: 0px;
  padding: 0px;
}

.mat-paginator-page-size{
  visibility: hidden !important;
}

@include mat-core();

$candy-app-primary: mat-palette($mat-blue-grey, 900, 900, 900);
$candy-app-accent:  mat-palette($mat-yellow);

$candy-app-warn:    mat-palette($mat-yellow);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);
